/node_modules
/public/hot
/public/storage
/public/memy
public/memy
/public/obrazki
public/obrazki
/public/pliki_bibliograf
public/pliki_bibliograf
/storage/*.key
/storage/*.index
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
